* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background: #b4b4a7;
  margin: 0;
}

section{
  margin-bottom: 20px;
}

.top{
  display: flex;
  justify-content: space-between;
}

/* Header */
header{
  background-color: #10162fde;
  border-bottom: 0.3px solid rgb(155, 155, 155);
  color: white;
  text-align: center;
  padding: 20px;
}

header h1{
  font-family: 'Commissioner', sans-serif;

  font-size: 2.6em;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 5px 0;
}
/* Header */

aside {
  width: 60vw;
  margin-top: 20px;
  margin-right: 15px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: rgb(19, 19, 146);
  height: fit-content;
}

table{
  margin-bottom: 20px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .flex{
    flex-direction: column;
  }
}

.sources{
  color: rgb(107, 0, 107);
}

aside > p {
  margin: 0.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
}


/* Contenu de la page */
main{
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(61, 61, 61);
  min-width: fit-content;
}
main h2 {
  margin-top: 40px;
}

th, td {
  border: 1px solid rgb(54, 54, 54);
  padding: 10px;
  text-align: left;
}

th {
  background-color: #92928a;
}

.var{
  color: rgb(0, 0, 85);
  font-weight: bold;
}

.solutions{
  display: flex;  
  flex-wrap: wrap;
}

.solutions div code {
  text-align: left;
}

pre{
  background-color: #10162fde;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.solutions div { 
  width: 80vw;
} 